{% extends 'booking/public/base.html' %}
{% block content %}   

<div class="about-section;" style="padding: 30px; text-align: center;
background-color: #474e5d;
color: white; margin-bottom: 10px;"
>
    <h1>About Us</h1>
    <p>We are a group of students studying Software Engineering at Southern Institute of Technology.</p>
    <p>Inspirus Rooms is designed to modernize the way people can book study and conference rooms, reducing 
        in-person contact and provide access to features and guidelines that are normally not available.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="col-12 col-md-4 mb-2">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;">
            <div class="container" style="padding: 0 16px;">
                <h2>Bruce Liang</h2>
                <p class="title">Lead Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-2">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;">
            <div class="container" style="padding: 0 16px;">
                <h2>Jordan Helm</h2>
                <p class="title">Document Lead</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-2">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;">
            <div class="container" style="padding: 0 16px;">
                <h2>Kara Heffernan</h2>
                <p class="title">Project Quality Manager</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}