{% extends 'booking/public/base.html' %}
{% block content  %}
<div class="card login_card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
      <form class="row g-3 needs-validation was-validated" action="./login_submit" method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-3">
              <label for="studentId" class="form-label">Student ID</label>
              <input type="text" class="form-control" name="studentId" id="studentId" pattern="[0-9]{6,10}" required>
              <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
              <div class="invalid-feedback">
                Please enter 6-10 numbers only.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password"  pattern=".{8,25}" required>
              <div class="invalid-feedback">
                Password must contains more than 7 and no more than 25 characters.
              </div>
            </div>
            <!--
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>
  (function () {
    
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
    //console.log("111")
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {    
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
{% endblock %}
