.login_card{
    margin: 0 auto;
}

.room_list_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}

.room_list_board > div{
    width: 50vh;
    margin: 20px 0px 20px
}

a{
    text-decoration: none;
}

.feature_block{
    padding: 10px 10px 10px 0px;
    float: left;
}

.cb{
    clear: both;
}

.table>:not(caption)>*>*{
    padding: 0.5rem 0rem !important;
}